<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap4/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/vue2.6.10/vue.js"></script>

</head>
<body>
https://cn.vuejs.org/v2/guide/index.html

    <div id="app">
        {{ message }}
    </div>



    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello keyvin!'
            }
        })
    </script>
</body>
</html>